binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAuthBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseCrashlyticsBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseDynamicLinksBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseFirestoreBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseGoogleSignInBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMessagingBinary.json"


#github "jonkykong/SideMenu"
#github "hackiftekhar/IQKeyboardManager"
#github "hackiftekhar/IQListKit"
#github "Boris-Em/BEMCheckBox"
#github "devicekit/DeviceKit"
#github "Alamofire/AlamofireImage"
#github "LowKostKustomz/StatusAlert"
#github "SachK13/SKActivityIndicatorView"
#github "cbpowell/MarqueeLabel"
#github "danielgindi/Charts"
